.aboutMe > img {
  border-radius: 5px 5px 0 0;
  width: 30%;
}

.aboutMe {
  display: flex;
  margin-top: 3rem;
}

.aboutmeContent {
  padding: 2px 40px;
  border: 30px 30px 30px 30px;
  text-align: left;
  font-family: "Courgette", cursive;
}
